@model ChangePasswordViewModel
@{
    Layout = null;
}

<div id="modalChangePassword" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
            </div>
            @using (Html.BeginForm("ChangePassword", "index", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="modal-body">
                    <div id="divChangePasswordAlert"></div>

                    <div class="form-group">
                        <label for="txtOldPassword" class="col-sm-4 control-label">Old password</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(x => x.OldPassword, new { id = "txtOldPassword", @class = "form-control", placeholder = "old", type = "password", autocomplete = "on" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtChangePasswordNewPassword" class="col-sm-4 control-label">New password</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(x => x.NewPassword, new { id = "txtChangePasswordNewPassword", @class = "form-control", placeholder = "new", type = "password", autocomplete = "on" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtChangePasswordConfirmPassword" class="col-sm-4 control-label">Confirm password</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(x => x.NewPassword, new { id = "txtChangePasswordConfirmPassword", @class = "form-control", placeholder = "confirmation", type = "password", autocomplete = "on" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-loading-text="Saving..." onsubmit="checkPassword();">Save</button>
                </div>
            }
        </div>
    </div>
</div>